@charset "utf-8";
/*全端末（PC・タブレット・スマホ）共通設定
---------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body{
  margin: 0px;
	padding:0px;
	background-color: white;
  color: black;
	font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 2;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form, figure, form {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

ol {
	padding-left: 40px;
	padding-bottom: 15px;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	font-size: 100%;
	border-spacing: 0;
}

iframe {
	width: 100%;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color:black;
	/*リンクテキストの色*/
	transition: 0.2s;
	/*マウスオン時の移り変わるまでの時間設定。0.2秒。*/
}

a:hover {
    color: red;
	text-decoration: solid black;
	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}


/*containerブロック
---------------------------------------------------------------------------*/

#container {
	max-width: 1500px;
	/*サイトの最大幅*/
	margin: 0 auto;
}


/*header
-------------------------------------------------------------------*/

/*ロゴ　＋　メインメニューのブロック
---------------------------------------------------------------------------*/

/*メニューブロック*/
#menubar {
  width: 100%;
  height: 13vh;
  margin-bottom: 20px;
}

/*メニューブロック内にあるロゴ画像*/

#menubar h1 img{
	height: 13vh;
	float: left;
	padding: 0 50px;
}

/*メニューバー内の設定*/
#menubar ul{
 display:flex;
justify-content: center;
}


#menubar ul li{
    display: inline;
    line-height: 13vh;
    margin-right: 4%;
}

#menubar ul li a{
    text-decoration: none;
    color: black;
	padding-bottom: 5px;
	font-size: 20px;
}

/*メニューのマウスオン時*/
#menubar ul li a:hover {
    border-bottom:3px solid black;
    padding: 10px;
    font-weight: bold;
}

/*スマホ用メニューを非表示*/
#hamburger{
	display: none;
}


/*ロゴ画像*/
header #logo img{
	position: absolute;
	left: 41%;
	top: 0px;
	width: 20%;
	opacity: 75%;
}

/*メイン
---------------------------------------------------------------------------*/
/*box1*/
.box1{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 15vh;
}

.est{
    width: 7%;
    writing-mode: vertical-rl;
    text-align: center;
    line-height: 8vh;
}

.mgr-1{
  margin-top: 20vh;
  }

.mgr-1::before{
    content: "\A";
    flex-grow: 1;
    height: 1.2px;
    background: #000;
    margin:0 2em;
    margin-right: .4em;
    background: linear-gradient(-90deg, #ffaaaa, transparent);
  }



/*固定背景の設定*/
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

.cd-fixed-bg.cd-bg-1  {
    background-image: url(https://github.com/TakumiNaka/usioto2/blob/master/images/%E5%BA%97%E9%A0%AD.jpg);
    height: 100vh;
    width: 95%;
}

h2{
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
}

/*box2*/
.box2{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 15vh;
}

.kodawari-text{
  width: 47%;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin-right: 3%;
  margin-top: 20vh;
}


.kodawari-text h3{
  font-size: 2.5vh;
  }

.kodawari-text h3 strong{
  font-size: 5vh;
}


.kodawari-text button{
  width: 40vh;
  height: 8vh;
  text-align: center;
  font-size: 20px;
  color:white;
  background-color: rgba(0,0,0,0.8);
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; ;
  margin-top: 15vh;
  letter-spacing: 3px;
}

.kodawari-img{
  width: 50%;
  height: 100vh;
  background-image: url(https://github.com/TakumiNaka/usioto2/blob/master/images/S__9011270.jpg);
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

/*box3*/
.box3{
  height: 100vh;
  width: 100%;
  margin-bottom: 15vh;
}

.menu-img{
  height: 100vh;
  width: 100%;
  background-image: url(https://github.com/TakumiNaka/usioto2/blob/master/images/%E5%BA%97%E9%A0%AD.jpg);
}

.menu-text{
  background-color: white;
  height: 60%;
  width: 60%;
  text-align: center;
  opacity: 90%;
  position: relative;
  top: 20%;
  left: 20%;
}

.menu-text h3{
  font-size: 2.5vh;
  letter-spacing: 4px;
  padding-top: 10vh;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.menu-text h3 strong{
  font-size: 5vh;
}

.menu-text button{
  width: 40vh;
  height: 8vh;
  text-align: center;
  font-size: 20px;
  color:white;
  background-color: rgba(0,0,0,0.8);
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; ;
  margin-top: 5vh; 
  letter-spacing: 3px;
}


/*フッター
---------------------------------------------------------------------------*/
/*box4*/
.box4{
  height: 250vh;
  width: 100%;
  align-content: flex-start;
  margin-bottom: 15vh;
}

.box4 h4{
  height: 10vh;
  text-align: center;
  font-size: 44px;
  letter-spacing: 9px;
  padding: 143px 0 77px 10px;
  border-bottom: 1px solid #303030;
　margin-bottom: none;
}

.box4-1{
  height: 40vh;
    text-align: center;
    border: 1px solid #303030;
    border-top: none;
    overflow: hidden;
    margin-bottom: 10vh;
    align-content: flex-start;
  }

.box4-1 dl{
    float: left;
    width: 95%;
    font-size: 11px;
    padding: 32px 0 20px;
}

.box4-1 dl dt{
  font-size: 17px;
	letter-spacing: 4px;
}

.box4-1 dl dd{
  font-size: 15px;
  letter-spacing: 3px;
  margin-bottom: 5vh;
}

.box4-1 dl dt span.tel{
	font-size: 30px;
	padding-left: 20px;
    text-decoration: none;
  }

.box4-1 dl dt span.tel a{
  color: black;
}

.box4-1 button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 20px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.box4-2{
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 15vh;
}

.info-img{
  width: 55%;
  height: 100vh;
  background-image: url(https://github.com/TakumiNaka/usioto2/blob/master/images/S__9011270.jpg);
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.info-text{
  width: 45%;
  height:100vh;
}

.info-text dl{
  float: right;
	width: 95%;
	border-bottom: 1px solid #303030;
	padding: 12px 0;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.6px;
}

.info-text dl dt{
  float: left;
	padding-left: 15px;
	width: 95%;
}

.info-text dl dd{
  float: left;
	width:95%;
}

  /*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: white;	/*背景色*/
}
#copyright a {text-decoration: none;}
#copyright a:hover {color: red;}

/*コピーライト*/
.nav-fix-pos-pagetop{
    display: block;
    text-align: center;
    width: 50px;
    line-height: 50px;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 3%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: 1px solid #fff;
    animation-name: scroll;
    animation-duration: 1S;
    animation-fill-mode: forwards;
}

.nav-fix-pos-pagetop a{
  color: white;
}